@page "/"

<PageTitle>Inicio</PageTitle>

<h1>Taller de Programación Backend</h1>

Bienvenido al Trabajo Colaborativo de Programación Backend

<ul>
    <li>Javiera Lepin</li>
    <li>Gabriel Farías</li>
    <li>Christian Estay</li>
</ul>